{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}


<div class="site-section block-3 site-blocks-2 bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 site-section-heading text-center pt-4">
				<h2>Mes posts en cours</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-4">				
				<div class="block-4-text p-4">
					<h1>
						<a href="#">Mon profil</a>
					</h1>
					{% for user in user %}
					<div class="">{{ user.nom }}</div>
					<div class="">{{ user.prenom }}</div>
					{% endfor %}
				</div>
			</div>
			</div>
			<div class="col-md-8">
			<div class="row">
				{% for produit in produits %}
				<div class="col-4">
					<div class="item">
						<div class="block-4 text-center">
							<figure class="block-4-image">
								<img src="{{ asset('images/cloth_1.jpg') }}" alt="Image placeholder" class="img-fluid">
							</figure>
							<div class="block-4-text p-4">
								<h3>
									<a href="#">{{ produit.libelleProduit }}</a>
								</h3>
								<p class="mb-0">Finding perfect t-shirt</p>
								<p class="text-primary font-weight-bold">$50</p>
							</div>
						</div>
					</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
 <a href="{{ path('produit_new') }}">Create new</a>
</div>{{ user.id }}{% endblock %}
