{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.scss') }}">
{% endblock %}
{% block body %}
  <br>
  <a href="{{ path('produit_index') }}">Voir tous les produits</a>
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Accueil</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Vendre</strong></div>
            </div>
        </div>
    </div>  

    <div class="site-section">
      <div class="container justify-content-center">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Veuillez renseigner le formulaire ci dessous pour ajouter un article en vente.</h2>
          </div>
          
          <div class="col-md-7 offset-sm-3">
            <hr>
            {{ form_start(form) }}  
              <div class="p-3 p-lg-5 ">

                <div class="form-group row">
                  <div  class="text-black col-12 col-lg-4">Pour qui ?</div>
                  <div class="col-12 col-lg-8">
                    {{ form_widget(form.categorie) }}
                  </div>    
                </div>
                <div class="form-group row">
                  <div  class="text-black col-12 col-lg-4">Quoi ?</div>
                  <div class="col-12 col-lg-8">
                    {{ form_widget(form.type) }}
                  </div>
                </div>
                <div class="form-group row">
                  <div  class="text-black col-12 col-lg-4">Quelle taille ?</div>
                  <div class="col-12 col-lg-8">
                    {{ form_widget(form.taille_produit) }}
                  </div>
                </div>
                <div class="form-group row">
                  <div  class="text-black col-12 col-lg-4">Quelle état ?</div>
                  <div class="col-12 col-lg-8">
                    {{ form_widget(form.etat) }}
                  </div>
                </div>
                <div class="form-group row">
                  <div  class="text-black col-12 col-lg-4">Nom du produit ?</div>
                  <div class="col-12 col-lg-8">
                      {{ form_widget(form.libelle_produit) }}
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-12 col-lg-4">Details ?</div>
                  <div class="col-12 col-lg-8">
                    {{ form_widget(form.description_produit) }}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12 col-lg-4">Quel prix ?</div>
                  <div class="col-12 col-lg-8">
                    {{ form_widget(form.prix_produit) }}
                  </div>
               </div>
               <div class="form-group row">
               <div class="col-12 col-lg-4">Ajouter des photos</div>
                  <div class="col-md-8">
                    <input class="form-control-file form-control form-control" type="file" >
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-lg-4">Statut ?</div>
                    <div class="col-lg-8">
                    {{ form_widget(form.statut) }}
                    </div>
                  </div>
              </div>
                <div class="form-group row">
                    <div class="col-lg-8">
                    {{ form_widget(form.prix_produit) }}
                     <button type="submit" class="btn btn-info">{{ button_label|default('Mettre en vente') }}</button>
                    </div>
                  </div>
              </div>
              
            {{ form_end(form) }}
          </div>
          
          </div>
        </div>
      </div>
    </div>
            
            <br>
            <a href="{{ path('produit_index') }}">Voir tous les produits</a>
        </div>
    </div>

{% endblock %}
